<ion-header [translucent]="true">
  <ion-toolbar color = "mycolor">
    <ion-title>registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar >
      <ion-title size="large">registrar</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" (click)="guardar()">Registrar</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let registros of equipos" 
     detail="">
    <ion-icon slot="start" name ="train"></ion-icon>
      <ion-label>{{registros.numeroBateadora}}</ion-label>
      <ion-button shape="round"  (click)="eliminar(registros.idbateadora)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button shape="round"  (click)="modificar(registros.idbateadora)" color="primary">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button shape="round"  [routerLink] = "['/trabajo',registros.idbateadora]" color="success">
        <ion-icon name="list"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
