<ion-header [translucent]="true">
  <ion-toolbar color = "mycolor">
    <ion-title>medicion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">medicion</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button expand="block" [routerLink] = "['/cargar-trabajo',id]">Agregar</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block">Botón 2</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block">Botón 3</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="grafico">
  <canvas #grafAlineacion style="width: 300px; height: 50px;"></canvas>
  <canvas #grafPeralte style="width: 300px; height: 50px;"></canvas>
  <canvas #grafNivelIzquierdo style="width: 300px; height: 50px;"></canvas>
  <canvas #grafNivelDerecho style="width: 300px; height: 50px;"></canvas>
  </div>

</ion-content>
