ion-toolbar{
    background-color: var(--ion-color-mycolor);
}
.grafico{
    position: "relative";
    margin: "auto";
}

ion-col {
    background-color: var(--ion-color-mycolor);
    border: solid 1px #fff;
    color: black;
    text-align: center;
  }
  .contenido ion-col{
    background-color: white;
  }
  .grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    canvas {
      margin: 20px 0;
      max-width: 100%;
      background-color: white; // Establece el fondo blanco para el contenedor del canvas
      background-color: white !important; // Establece el fondo blanco para el canvas
    }
  }
  
  ion-card {
    margin: 20px;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  
    &-header {
      background-color: #f8f9fa;
      text-align: left;
  
      th {
        padding: 10px;
        border-bottom: 1px solid #dee2e6;
      }
    }
  
    &-row {
      td {
        padding: 10px;
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-around;
  
    ion-button {
      margin: 0 5px;
    }
  }
  