ion-toolbar{
    background-color: var(--ion-color-mycolor);
}
ion-col {
    background-color: var(--ion-color-mycolor);
    border: solid 1px #fff;
    color: black;
    text-align: center;
  }
  .contenido ion-col{
    background-color: white;
  }